<section id="slide-1" class="homeSlide" style ="height:600px;">
  <div class= "row">
    
  <div class="w-container">
    <h1> The Junior Class Presents </h1>
  </div> 
    <div class = "col-md-4" style="left: 115px;
    bottom: 150px;" >
      <img id="sm-logo" <%= image_tag ("stmarks.png"), :style => "width: 140px; ", :height => "height: 140px" %>
    </div>
  </div>
</section>
<section id="slide-2" style="height: 600px;">
  <div class="row">
    <div class = "col-md-4" style="width: 100%">
      <h1> MCDONALD'S WEEK 2014 </h1>
    </div>
  </div>
  <div class="row">
    <div class = "col-md-3">
      <img id ="Event-Day-One" <%= image_tag ("Events Day 1.png"), :style => "width: 100%;", :height => "height: 100%" %>
    </div>
    <div class = "col-md-3">
      <img id ="Event-Day-Two" <%= image_tag ("Events Day 2.png"), :style => "width: 100%;", :height => "height: 100%" %>
    </div>
    <div class="col-md-3">
      <img id="Event-Day-Three" <%= image_tag ("Events Day 3.png"), :style => "width: 100%;", :height => "height: 100%" %>
    </div>
    <div class="col-md-3">
      <img id="Event-Day-Four" <%= image_tag ("Events Day 4.png"), :style => "width: 100%;", :height => "height: 100%" %>
    </div>
  </div>
  
</section>
<section id="slide-3" style="height:600px">
  <div class="container">
    <div class="row">
      <div class = "col-md-5">
        <img id="years" <%= image_tag ("20 Years Info Slide.png"), :style => "width: 50%;", :height => "height: 100%" %>
        <br>
        <p> McDonald's Week is an annual event that has been going on for twenty years, sponsored by the St. Mark's School of Texas junior class.</p>
      </div>
      <div class = "col-md-5">
        <img id="community" <%= image_tag ("Community Info Slide.png"), :style => "width: 50%;", :height => "height: 100%" %>
        <br>
        <p> With the help of St. Mark’s faculty, sponsorships from local businesses, individual families, and students, the junior class raises thousands of dollars for the Austin Street Center, a local homeless shelter.</p>
      </div>
      <div class="col-md-5">
        <img id="profits" <%= image_tag ("Profits Info Slide.png"), :style => "width: 50%;", :height => "height: 100%" %>
        <br>
        <p> Every year the junior class provides enough money for 6000 meals while cultivating its leadership, strengthening its bonds, and reinforcing its sense of community. </p>
    </div>
  </div>
</section>
<section id = "slide-4" style="height: 523px">
     
     <div id="row1" style="background-color: #072c5a; height:120px">
      <h1 style="margin:0px; text-align:center; font-size:100px; color: white;   font-family: 'Helvetica-Neueu';
"> Our 2014 Sponsors </h1>
    </div>
    <div id ="row2" style="background-color: #f5c23e; height:20px">
    </div>
  <div class="container">
 
    <div class="row">
      <div class="col-md-12">
        <div id="Carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>
                 
          <!-- Carousel items -->
          <div class="carousel-inner">
                    
        <div class="item active">
              <div class="row">
                <div class ="col-md-3"><%= image_tag "St Marks Lion.png", :class => "thumbnail",                     :style => "width: 243px; height:243px;" %> </div>
                <div class = "col-md-3"><%= image_tag "Shelter logo.png", :class => "thumbnail",                      :style => "width:243px; height: 243px" %></div>
                <div class="col-md-3"><%= image_tag "MCD.png", :class => "thumbnail", :style => "                  width:243px; height:243px;" %></div>
                <div class="col-md-3"><%= image_tag "virtus scientis.png", :class => "thumbnail",                     :style => "width:243px; height:243px;" %></div>
              </div><!--.row-->
        </div><!--.item-->          
            <div class="item">
              <div class="row">
                <div class="col-md-3"><%= image_tag "sportsclips.png", :class => "thumbnail", :style                 => "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "Gray Reed.png", :class => "thumbnail", :style =>                  "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "endemic.png", :class => "thumbnail", :style =>                    "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "CantinaLaredo.png", :class => "thumbnail",                       :style => "max-width:100%" %></div>
              </div><!--.row-->
            </div><!--.item-->
                 
            <div class="item">
              <div class="row">
                <div class="col-md-3"><%= image_tag "clay cooley.png", :class => "thumbnail", :style                  => "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "thetoymaven.png", :class => "thumbnail", :style                 => "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "PRG prolead realty group.png", :class =>                       "thumbnail", :style => "max-width:100%" %></div>
                <div class="col-md-3"><%= image_tag "Fish City Grill.png", :class => "thumbnail",                     :style => "max-width:100%" %></div>
                
              </div><!--.row-->
            </div><!--.item-->
                 
          </div><!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel" class="left carousel-control"           style="width:8%">‹</a>
            <a data-slide="next" href="#Carousel" class="right carousel-control" style="width:8%">›</a>
          </div><!--.Carousel-->        
        </div>
      </div>
    </div><!--.container-->
  </section>
  <section id= "slide-5" style="height:600px">
    <div id="rowclass">
      <h1 style="text-align: center;"> Class Of 2016 </h1>
    </div>
    <div class="container" style="padding-left:50px; height: 650px">
      <div id="fundraising" class="col-md-1"style="height:300px; width: 200px; display: inline-block; border: 3px solid black;">
        <h3 style=" margin-left: 5px"> Fundraising </h3>
        <p style="font-size: 12px; margin-left:5px"> Ammar Plumber <br> Henry Goldberg <br> Bryce Killian<br> Bill Dannenmaier <br> Jake Byers<br> Dan McClain <br> Daniyaal Kamran <br> Michael Mosle <br> Greyson Gallagher <br> Corbin Walp<br> Will Hardage<br> Haris Ahmad </p>
      </div>
      <div id="sponsorships" class="col-md-2"style="height:170px; width: 250px; display: inline-block; border: 3px solid black;">
        <h3 style=" margin-left: 5px"> Sponsorships </h3>
        <p style="font-size: 12px; margin-left:5px"> Roby Mize John Landry Davis Marsh<br> Will Clark Jake Galant Chance Cooley <br> Ansh Khullar </p>
      </div>
      <div id="Website" class="col-md-6"style="top: 130px; right: 250px;height:170px; width: 250px; display: inline-block; border: 3px solid black; border-top: 0px; padding-top:40px">
        <h3 style=" margin-left: 5px"> Website </h3>
        <p style="font-size: 12px; margin-left:5px"> Spencer Cheng Alden James<br> Ward Rushton Alex Sanchez <br>Link Lipsitz </p>
      </div>
      <div id="Daily Events" class="col-md-2"style="height:300px; width: 150px; display: inline-block; border: 3px solid black; right:250px">
        <h3 style=" margin-left: 5px"> Daily Events </h3>
        <p style="font-size: 12px; margin-left:5px"> Mahir Karim <br>William Caldwell <br>Bradford Beck<br> Hunter Alexander <br>Brent Weisberg <br>Harrison Kampf <br> JT Graass <br>Taylor Rohrich <br> Joshua Choe </p>
      </div>
      <div id="Film" class="col-md-2"style="height:165px; width: 250px; display: inline-block; border: 3px solid black; right:250px">
        <h3 style=" margin-left: 5px"> Film </h3>
        <p style="font-size: 12px; margin-left:5px; right:250px;"> Graham Kirstein Harrison Chen Justin Berry<br>Johnathon Berry Arno Goetz Jalen Lynch <br> Zak Houillion Angel Reyes Jake Curreri  </p>
      </div>
      <div id="T-shirt" class="col-md-6"style=" right: 250px;height:160px; width: 250px; display: inline-block; border: 3px solid black; border-top: 0px; padding-top:40px; bottom:25px;">
        <h3 style=" margin-left: 5px"> T-Shirts </h3>
        <p style="font-size: 12px; margin-left:5px"> Ahbi Thummala Eric Li Max Sadlowski<br> Kevin He Leighton Okada <br>Grant Uebelehez Brannon Rouse </p>
      </div>
      <div id="Behindthescenes" class="col-md-1"style="height:300px; width: 200px; display: inline-block; border: 3px solid black;right:325px; left: 850px;bottom:325px">
        <h3 style=" margin-left: 5px"> Behind The Scenes </h3>
        <p style="font-size: 12px; margin-left:5px"> Parker Dixon <br> Tim O'Meara <br> Robert Qin<br> Matthew Dominguez <br> Cameron Lam<br> Albert Thieu <br> Matthew Placide <br> Nico Sanchez <br> Andrew Sharng <br>Stephen Chen<br> John Sadlowski </p>
      </div>
      <div id="Lower School" class="col-md-2"style="height:100px; width: 300px; display: inline-block; border: 3px solid black; left:550px; bottom: 25px;border-top:0px">
        <h3 style=" margin-left: 5px"> Lower School </h3>
        <p style="font-size: 12px; margin-left:5px">
          Anvit Reddy Avery Powell Kent Broom <br> Tim Skapek Akshay Malhotra
        </p>
      </div>
      <div id="Raffle" class="col-md-6"style=" right: 50px;height:100px; width: 350px; display: inline-block; border: 3px solid black; border-top: 0px; padding-top:0px; bottom: 25px; left: -100px; ">
        <h3 style=" margin-left: 5px"> Raffle </h3>
        <p style="font-size: 12px; margin-left:5px"> Ashton Hashemipour Zach Naidu Drew Baxley </p>
      </div>
      <div id="Treasury" class="col-md-6"style="height:100px; width: 400px; display: inline-block; border: 3px solid black; border-top: 0px;  right:200px;bottom:125px;">
        <h3 style=" margin-left: 5px"> Treasury </h3>
        <p style="font-size: 12px; margin-left:5px"> Kevin Kim Mitchell So </p>
      </div>
      <div id="Co-Chairs" class="col-md-6"style=" height:100px; width: 1050px; display: inline-block; border: 3px solid black; border-top: 0px;  bottom:225px;">
        <h3 style=" margin-left: 5px; text-align: center;"> Co-Chairs and Class Sponsors </h3>
        <p style="font-size: 12px; margin-left:5px; text-align:center;"> Drew Taylor Kevin Wu <br> Mrs. Sutcliffe Mr. Valasek </p>
      </div>
    </div>
  </section>
  <section id = "slide-6" style= "height:400px">
    <div class="col-md-8" style= "right: 100px">
      <h1 style="text-align: center;"> In Case You Missed The Video </h1>
            <div class="vid">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ou_D-7L7V5s" allowfullscreen=""></iframe>
            </div><!--./vid -->
            
        </div><!--.col -->
  </section>

